version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=teste_db
      - POSTGRES_USER=user_teste
      - POSTGRES_PASSWORD=senha_segura
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=teste_db
      - DB_USER=user_teste
      - DB_PASSWORD=senha_segura
      - DB_HOST=db
      - DB_PORT=5432

volumes:
  postgres_data: